* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none !important;
	font-family: 'Roboto Slab', serif;
}

body::-webkit-scrollbar {
  display: none;
}

.heading{
	font-size: 45px;
	font-weight: 600;
	color: white;
}

/* NAVBAR */
nav{
	display: flex;
	height: 70px;
	width: 100%;
	background: #0f0e0e;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0 100px;
	flex-wrap: wrap;
	position: fixed;
	z-index: 100;
  }
  nav .logo{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
  }
  nav ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
  }
  nav ul li{
	margin: 0 5px;
  }
  nav ul li a{
	color: #f2f2f2;
	text-decoration: none !important;
	font-size: 18px;
	font-weight: 800;
	padding: 8px 15px;
	border-radius: 5px;
	letter-spacing: 1px;
	transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
	color: #111;
	background: #fff;
  }
  nav .menu-btn i{
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	display: none;
  }
  input[type="checkbox"]{
	display: none;
  }
  @media (max-width: 1000px){
	nav{
	  padding: 0 40px 0 50px;
	}
  }
  @media (max-width: 920px) {
	nav .menu-btn i{
	  display: block;
	}
	#click:checked ~ .menu-btn i:before{
	  content: "\f00d";
	}
	nav ul{
	  position: fixed;
	  top: 60px;
	  left: -100%;
	  background: #0f0e0e;
	  height: 100vh;
	  width: 100%;
	  text-align: center;
	  display: block;
	  transition: all 0.3s ease;
	}
	#click:checked ~ ul{
	  left: 0;
	}
	nav ul li{
	  width: 100%;
	  margin: 40px 0;
	}
	nav ul li a{
	  width: 100%;
	  margin-left: -100%;
	  display: block;
	  font-size: 20px;
	  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	#click:checked ~ ul li a{
	  margin-left: 0px;
	}
	nav ul li a.active,
	nav ul li a:hover{
	  background: none;
	  color: cyan;
	}
  }


/* HOME */
.home-container{
	height: 750px;
	background-image: url("images/background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.home-container .container{
	padding-top: 15vh;
	padding-bottom: 10vh;
}

.home-container .container .my_image{
	border-radius: 50%;
	width: 275px;
	height: 300px;
}

.hello_word{
	font-size: 35px;
	font-weight: 700;
	color: white;
}

.word{
	font-size: 35px;
	font-weight: 700;
	color: white;
}

.home-container .container .continue a {
	border: 2px solid #fff;
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	font-size: 30px;
}

.home-container .container .continue a:hover{
	background-color: rgba(255, 255, 255, .25);
}

/* ABOUT */
.about-container{
	padding: 3em 2em 4em 2em;
	background-color: #242424;
}

.about-container .about-content{
	font-size: 20px;
	color: white;
	justify-content: center;
}

.about-container .about-btn{
	padding: 10px;
	border: 2px solid white;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	text-decoration: none;
}

.about-container .about-btn:hover{
	box-shadow: 0 0 10px #e3dede;
}

/* PROJECTS */
.projects-container{
	background-color: #141414;
}

.projects-container .container{
	padding-top: 2em;
	padding-bottom: 2em;
}

.projects-container .project-card{
	padding: 0 0 30px 0;
	border-radius: 15px;
	border: 1px solid black;
	box-shadow: 0 0 7px white;
	background-color: #2e2e2e;
	margin-top: 40px;
}

.projects-container .project-card:hover{
	box-shadow: 0 0 15px red;
}

.projects-container .project-images{
	height: 100%;
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.projects-container .project-title{
	padding-top: 1em;
	color: white;
	font-weight: 800;
	font-size: 30px;
}

.projects-container .about-project{
	padding: 0 1em 1em 1em;
	font-size: 15px;
	font-weight: 600;
	justify-content: center;
	color: white;
}

.projects-container .fa-github{
	color: #6cc644;
	font-size: 25px;
}

.projects-container .project-links{
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding: 10px 10px;
	border: 2px solid maroon;
	border-radius: 10px;
	background-color: black;
	box-shadow: 0 0 5px maroon;
}

.projects-container .project-links:hover{
	box-shadow: 0 0 15px maroon;
}

/* FOOTER */
.footer{
	padding: 2em 0 1em 0;
	background-color: black;
}

.social-button{
	border-radius: 50%;
	font-size:20px;	
}

.footer .link-linkedin{
	color: #0e76a8;
}

.footer .link-github{
	color: #6cc644;
}

.footer .link-twitter{
	color: #00acee;
}

.footer .link-linkedin:hover{
	background-color: #0e76a8;
	color: white !important;
	transition: 0.3s ease;
}

.footer .link-github:hover{
	background-color: #6cc644;
	color: white !important;
	transition: 0.3s ease;
}

.footer .link-twitter:hover{
	background-color: #00acee;
	color: white !important;
	transition: 0.3s ease;
}

.footer p{
	margin-top: 1em;
	color: white;
	font-size: 17px;
	font-weight: 700;
}

.strip{
	height: 2px;
	margin: 0;
	padding: 0;
	background-color: white;
	width: 100%;
}

.footer-strip{
	height: 2px;
	margin: 0;
	padding: 0;
	background-color: cyan;
	width: 100%;
}